{
    "_links" : {
        "self" : { "href" : "/{{tenantId}}/hal1.json" },
        "next" : { "href" : "/{{tenantId}}/hal2.json" },
        "collection" : { "href" : "/{{tenantId}}/hal-collection.json" },
        "headerTest": { "href" : "/headers" },
        "error400" : { "href" : "/error/400" },
        "redirect" : { "href" : "/redirect" },
        "echo": { "href" : "/echo" },
        "auth-basic" : { "href" : "/auth/basic" },
        "auth-bearer" : { "href" : "/auth/bearer" },
        "auth-oauth" : { "href" : "/auth/oauth" },
        "templated" : { "href" : "/{{tenantId}}/templated.json{?foo}", "templated": true },
        "linkHeader" : { "href" : "/{{tenantId}}/link-header" },
        "problem" : { "href" : "/problem" },
        "no-content-type": { "href": "/no-content-type" },
        "c:foo" : { "href": "/curietarget" },
        "curies" : [
          {
            "name": "c",
            "href": "http://example.org/curie/{rel}",
            "templated": true
          }
        ],
        "content-type-link" : { "href" : "/{{tenantId}}/hal2.json", "type": "application/foo+json" },
        "json-api" : { "href" : "/{{tenantId}}/json-api.json", "type": "application/vnd.api+json" },
        "counter" : { "href" : "/counter" }
    },
    "title"  : "Hal 1",
    "foo" : "bar"
}
