{
  "_links" : {
    "self" : { "href" : "/{{tenantId}}/hal2.json" },
    "prev" : { "href" : "/{{tenantId}}/hal1.json" },
    "collection" : { "href" : "/{{tenantId}}/hal-collection.json" }
  },
  "_embedded": {
    "author" : {
      "_links" : {
        "self": { "href" : "https://evertpot.com" }
      }
    }
  },
  "title" : "HAL 2!"
}
